header {
  background-color: black;
  padding: 3em;
  color: rgb(0, 200, 255);
}

header > h1 {
  text-align: center;
}

.products {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products > div {
  margin: 2.5em auto;
  width: 800px;
  border: solid rgb(0, 200, 255) .3em;
}

.checkout {
  width: 50%;
  margin: 25px auto;
  border: solid black .5em;
}

.checkout-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid black 2px;
  /* background-color: red; */
}

.input-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  border-right: solid black 2px;
}

/* .input {
  width: 75%;
  display: inline;
} */

.fas {
  margin: 5px 0;
  font-size: 1.15em;
  text-align: left;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle {
  color: red;
}

.total {
  margin-right: 20%;
}

button {
  padding: 20px;
  background-color: rgb(0, 200, 255);
}

.list, ul {
  list-style: none;
  text-align: center;
}

img {
  margin: 20px;
  width: 500px;
  height: 425px;
}

.checkout-options {
  display: flex;
  flex-direction: column;
}

#confirm {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.confirm-btn {
  width: 200px;
}